.Navigation {
  background-color: #09649f;
  padding: 1rem 2rem 1rem 2rem;
}

.user {
  color: #fff;
  display: flex;
}

.user-icon,
.cart-icon {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}

.logout {
  color: #fff;
  --bs-dropdown-min-width: 0px !important;
}
